@page
@model WebApplication1.Pages.IndexModel
@{
}
<html>
<body>
    <h1> cerea, neh!</h1>
    <p>VAi alla pagina di risposta <a href="/Risposta">risposta</a></p>
    <a> Saluta </a> <br />
    <input type="text" name="testo" /> <br />
    <a> Nome </a> <br />
    <input type="text" name="Nome" /> <br />
    <a> Cognome </a> <br />
    <input type="text" name="Cognome" />
    <input type="submit" />
    </from>
</body>
</html>